@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">Contract Monthly Claim System (Prototype)</h1>
    <p class="lead">Choose a dashboard to view:</p>
    <a class="btn btn-primary btn-lg" href="/Home/LecturerDashboard">Lecturer Dashboard</a>
    <a class="btn btn-success btn-lg" href="/Home/CoordinatorDashboard">Coordinator Dashboard</a>
    <a class="btn btn-warning btn-lg" href="/Home/ManagerDashboard">Manager Dashboard</a>
</div>

